// #16cc9b: màu đẹp
@import url('../../Css/grid.css');
@import url('../../components//GlobalStyles//GlobalStyles.scss');

img {
  max-width: 100%;
  border-radius: 4px;
}

button {
  transition: all 0.25s linear;

  &::after {
    position: relative;
    right: 0;
    content: " \276f";
    transition: all 0.15s linear;
  }

  &:hover {
    opacity: 0.8;

    &::after {
      right: -6px;
    }
  }

  &:focus {
    outline: none;
  }
}


ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input {
  transition: all 0.25s linear;
  outline: none;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.shoppingCart {
  width: 100%;
  background-image: linear-gradient(to bottom right, #67b26f, #80d5ff);

  & .container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 20px 0 0;
  }
}

/* --- HEADER --- */
header h1 {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 2rem;
  text-align: center;
  word-spacing: 3px;
}

header .breadcrumb li {
  float: left;
  padding: 0 6px;

  &:first-child {
    padding-left: 2px;
  }

  &:not(:last-child)::after {
    content: " \276f";
    padding-left: 8px;
  }
}

header .count {
  float: right;
}

/* --- PRODUCT LIST --- */
.products {

  &>li {
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
  }
}

.row {
  display: flex;
}

.detail {
  padding: 0 0.5rem;
  line-height: 2.2rem;

  & .name {
    font-size: 1.2rem;
    font-weight: 700;

    a {
      text-decoration: none;
      color: var(--primary-color);
    }

    a:hover {
      opacity: 0.8;
    }
  }

  & .description {
    font-size: 1rem;
    margin: 0.7rem 0;
    line-height: 1.4;
  }

  & .price {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.quantity,
.remove {
  width: 50%;
  text-align: center;
}

.quantity>input {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  left: calc(50% - 30px);
  background: #fff;
  border: 2px solid #ccc;
  text-align: center;
  font: 600 1.5rem Helvetica, Arial, sans-serif;
}

.quantity>input:hover,
.quantity>input:focus {
  border-color: var(--primary-color);
}

.close {
  cursor: pointer;
  font-size: 1.5rem;

  &:hover {
    color: #666
  }
}

/* --- SUMMARY --- */
.promotion,
.summary,
.checkout {
  float: left;
  width: 100%;
  margin-top: 1.5rem;
}

.promotion>label {
  float: left;
  width: 100%;
  margin-bottom: 1rem;
}

.promotion>input {
  float: left;
  width: 80%;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid #16cc9b;
}

.promotion:hover>input {
  border-color: #23acae;
  caret-color: var(--primary-color);
}

.promotion>button {
  background-color: #16cc9b;
  border: 2px solid #16cc9b;
  float: left;
  width: 20%;
  padding: 1rem 0.5rem;
}

.promotion:hover>button {
  border-color: #23acae;
  background-color: #23acae;
}

.promotion>button::after {
  content: "\276f";
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

.summary {
  font-size: 1.2rem;
  text-align: right;

  & ul li {
    padding: 0.5rem 0;

    & span {
      display: inline-block;
      width: 30%;
    }

    & .total {
      font-weight: bold;
    }
  }
}

/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
  .thumbnail img {
    display: none;
  }

  .quantity>input {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
  }

  .remove svg {
    width: 40px;
    height: 40px;
  }
}

/* --- MEDIUM & LARGE SCREEN --- */
@media all and (min-width: 600px) {
  html {
    font-size: 14px;
  }

  .container {
    width: 75%;
    max-width: 960px;
  }

  .thumbnail,
  .detail {
    float: left;
  }

  .thumbnail {
    width: 30%;
  }

  .detail {
    width: 65%;
    padding: 0 1rem;
  }

  .promotion,
  .summary {
    width: 50%;
  }

  .checkout {
    width: 100%;
  }

  .checkout,
  .summary {
    text-align: right;
  }
}

/* --- LARGE SCREEN --- */
@media all and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}