/*  <!-- Google Fonts --> */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --font-family: 'Nunito', sans-serif;
  --primary-color: #23acae;
  --color-bg: #040C18;
  --color-footer: #031B34;
  --color-blog: #042c54;
  --black: #000;
  --white: #fff;
  --text-color: #333;
  --subtext-color: #FF8A71;
  --sidebar-color: #007172;
}

//Scrollbar Css
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: RGBA(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: RGBA(0, 0, 0, 0);
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;

  @media (min-width: 740px) and (max-width:1023px) {
    padding: 0px;
  }

  @media (max-width: 739px) {
    padding: 0px;
  }
}

.section-header {
  text-align: center;
  padding-bottom: 40px;

  & h2 {
    font-size: 11px;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  & p {
    font-size: 38px;
    margin: 10px 0 0 0;
    padding: 0;
    font-weight: 700;
    line-height: 42px;
    color: var(--primary-color);

    @media (max-width: 739px) {
      font-size: 20px;
      line-height: 32px;
    }
  }
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}