// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background: #23242a !important;
// }

.container_LoginPages {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a !important;
}

.box {
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;


  @media (max-width: 739px) {
    width: 260px;
    height: 300px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;

    &>h2 {
      color: #45f3ff;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.1em;

      @media (max-width: 739px) {
        font-size: 22px;
      }
    }

    .inputBox {
      position: relative;
      width: 300px;
      margin-top: 35px;

      @media (max-width: 739px) {
        width: 190px;
        margin-top: 3px;
      }

      &>input {
        position: relative;
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        border: none;
        outline: none;
        color: #23242a;
        font-size: 1em;
        letter-spacing: 0.05em;
        z-index: 10;
      }

      &>span {
        position: absolute;
        left: 0;
        padding: 20px 0px 10px;
        font-size: 1em;
        color: #8f8f8f;
        pointer-events: none;
        letter-spacing: 0.05em;
        transition: 0.5s;

        @media (max-width: 739px) {
          font-size: 0.7em;
        }
      }

      &>input:valid~span,
      &>input:focus~span {
        color: #45f3ff;
        transform: translateX(0px) translateY(-34px);
        font-size: 0.75em;
      }

      &>i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #45f3ff;
        border-radius: 4px;
        transition: 0.5s;
        pointer-events: none;
        z-index: 9;
      }

      &>input:valid~i,
      &>input:focus~i {
        color: #45f3ff;
        height: 44px;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-between;

    &>a {
      margin: 10px 0;
      font-size: 0.75em;
      color: #8f8f8f;
      text-decoration: none;

      @media (max-width: 739px) {
        font-size: 0.65em;
      }

      &:hover,
      &:nth-child(2) {
        color: #45f3ff;
      }
    }
  }

  input[type="submit"] {
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;

    @media (max-width: 739px) {
      width: 80px;
      font-size: 12px;
      padding: 6px 22px;
    }

    &:active {
      opacity: 0.8;
    }
  }

  .backToHome {
    display: block;
    text-align: center;
    margin-top: 10px;

    &>a {
      color: #8f8f8f;
      opacity: 0.7;
      font-size: 12px;

      @media (max-width: 739px) {
        font-size: 10px;
      }

      &:hover {
        opacity: 1;
        color: #45f3ff;
      }
    }
  }
}

.fly-in-text {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  & li {
    display: inline-block;
    margin-right: 1px;
    font-weight: 300;
    font-size: 30px;
    color: lightseagreen;
    opacity: 1;
    transition: all 5s ease;

    &:last-child {
      margin-right: 0;
    }

    & {
      opacity: 0;
    }
  }

  &.hidden li:nth-child(1) {
    transform: translateX(-200px) translateY(-200px);
  }

  &.hidden li:nth-child(2) {
    transform: translateX(20px) translateY(100px);
  }

  &.hidden li:nth-child(3) {
    transform: translateX(-1500px) translateY(-80px);
  }

  &.hidden li:nth-child(4) {
    transform: translateX(10px) translateY(-200px);
  }

  &.hidden li:nth-child(5) {
    transform: translateX(-100px) translateY(90px);
  }

  &.hidden li:nth-child(6) {
    transform: translateX(-100px) translateY(10px);
  }

  &.hidden li:nth-child(7) {
    transform: translateX(200px) translateY(90px);
  }

  &.hidden li:nth-child(8) {
    transform: translateX(10px) translateY(-20px);
  }

  &.hidden li:nth-child(9) {
    transform: translateX(100px) translateY(-80px);
  }
}

// Success messages Testing
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 48px;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity .2s aese;
}

.btn+.btn {
  margin-left: 16px;
}

.btn:hover {
  opacity: 0.8;
}

.btn--success {
  color: #71be34;
}

.btn--warning {
  color: #ffb702;
}


#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  /* transform: translateX(calc(100% + 32px)); */
  transition: all linear 0.3s;
}

@keyframes slideInleft {
  form {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast+.toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;

}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;

}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}