/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
    & .content {
        background-color: #f6f9ff;
        padding: 40px;
    }

    & h3 {
        font-size: 18px;
        font-weight: 700;
        color: var(--primary-color);
        text-transform: uppercase;
    }

    & h2 {
        font-size: 28px;
        font-weight: 700;
        color: var(--primary-color);
    }

    & p {
        margin: 15px 0 30px 0;
        line-height: 24px;
    }

    & .btn-read-more {
        line-height: 0;
        padding: 15px 40px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: #4154f1;
        box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
    }

    & .btn-read-more {
        & span {
            font-family: "Nunito", sans-serif;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 1px;
        }

        & i {
            margin-left: 5px;
            font-size: 18px;
            transition: 0.3s;
        }

        &:hover i {
            transform: translateX(5px);
        }
    }
}