/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: var(--sidebar-color);
  min-height: 40px;
  margin-top: 120px;
  color: #fff;

  @media (max-width: 992px) {
    & {
      margin-top: 57px;
    }
  }

  & h2 {
    font-size: 28px;
    font-weight: 500;
  }

  & ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;

    & a {
      color: #fff;
      transition: 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }

    & li+li {
      padding-left: 10px;

    }

    & li+li::before {
      display: inline-block;
      padding-right: 10px;
      color: #8894f6;
      content: "/";
    }
  }
}

/*--------------------------------------------------------------
# Product
--------------------------------------------------------------*/
.product {
  & #product-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: white;
    border-radius: 50px;
    padding: 2px 15px;

    & li {
      cursor: pointer;
      display: inline-block;
      padding: 8px 20px 10px 20px;
      font-size: 15px;
      font-weight: 600;
      line-height: 1;
      color: #444444;
      margin: 0 4px 8px 4px;
      transition: 0.3s;
      border-radius: 50px;
      border: 1px solid #fff;

      &:hover,
      &.filter-active {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & .product-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);

    &::before {
      content: "";
      background: rgba(255, 255, 255, 0.75);
      position: absolute;
      left: 30px;
      right: 30px;
      top: 30px;
      bottom: 30px;
      transition: all ease-in-out 0.3s;
      z-index: 2;
      opacity: 0;
    }

    & img {
      transition: 1s;
    }

    & .product-info {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &::before {
        display: block;
        content: "";
        width: 48px;
        height: 48px;
        position: absolute;
        top: 35px;
        left: 35px;
        border-top: 3px solid rgba(1, 41, 112, 0.2);
        border-left: 3px solid rgba(1, 41, 112, 0.2);
        transition: all 0.5s ease 0s;
        z-index: 9994;
      }

      &::after {
        display: block;
        content: "";
        width: 48px;
        height: 48px;
        position: absolute;
        bottom: 35px;
        right: 35px;
        border-bottom: 3px solid rgba(1, 41, 112, 0.2);
        border-right: 3px solid rgba(1, 41, 112, 0.2);
        transition: all 0.5s ease 0s;
        z-index: 9994;
      }

      & h4 {
        font-size: 20px;
        color: #012970;
        font-weight: 700;
      }

      & p {
        color: #012970;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
    }

    & .product-links {
      text-align: center;
      z-index: 4;

      & a {
        color: #fff;
        background: var(--primary-color);
        margin: 10px 2px;
        width: 36px;
        height: 36px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        opacity: 1;

        & i {
          font-size: 24px;
          line-height: 0;
        }

        &:hover {
          background: var(--primary-color);
          opacity: 0.7;
        }
      }
    }

    &:hover img {
      transform: scale(1.1);
    }

    &:hover::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
    }

    &:hover .product-info {
      opacity: 1;
    }

    &:hover .product-info::before {
      top: 15px;
      left: 15px;
    }

    &:hover .product-info::after {
      bottom: 15px;
      right: 15px;
    }
  }
}

/*--------------------------------------------------------------
# Product Details
--------------------------------------------------------------*/
.product-details {
  padding-top: 40px;

  & .product-details-slider img {
    width: 100%;

    & .swiper-pagination {
      margin-top: 20px;
      position: relative;

      & .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #4154f1;
      }

      & .swiper-pagination-bullet-active {
        background-color: #4154f1;
      }
    }
  }

  & .product-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);

    & h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #eee;
    }

    & ul {
      list-style: none;
      padding: 0;
      font-size: 15px;

      & li+li {
        margin-top: 10px;
      }
    }
  }

  & .product-description {
    padding-top: 30px;

    & h2 {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    & p {
      padding: 0;
    }
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.btn a {
  background: var(--primary-color);
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
  opacity: 0.9;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}