/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  // height: 100vh;
  background: url("../../assets/img/hero-bg.png") top center no-repeat;
  background-size: cover;

  & h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
  }

  & h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 20px;
  }

  & .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: var(--primary-color);
    box-shadow: 0px 5px 30px rgba(63, 245, 255, 0.4);

    & span {
      font-family: "Nunito", sans-serif;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 1px;
    }

    & i {
      margin-left: 5px;
      font-size: 18px;
      transition: 0.3s;
    }

    &:hover i {
      transform: translateX(5px);
    }
  }

  & .hero-img {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;

    & .hero-img {
      text-align: center;
      margin-top: 80px;

      & img {
        width: 80%;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;

    & h1 {
      font-size: 26px;
    }

    & h2 {
      font-size: 20px;
    }

    & .hero-img img {
      width: 100%;
    }
  }
}


.flashing {
  font-size: 24px;
  font-weight: bold;
  -webkit-animation: flashing-letters 800ms infinite;
  -moz-animation: flashing-letters 800ms infinite;
  -o-animation: flashing-letters 800ms infinite;
  animation: flashing-letters 800ms infinite;
}

@-webkit-keyframes flashing-letters {
  0% {
    color: #F8CD0A;
  }

  50% {
    color: rgb(243, 21, 21);
  }

  100% {
    color: #F8CD0A;
  }
}

@-moz-keyframes flashing-letters {
  0% {
    color: #F8CD0A;
  }

  50% {
    color: rgb(243, 21, 21);
  }

  100% {
    color: #F8CD0A;
  }
}

@-o-keyframes flashing-letters {
  0% {
    color: #F8CD0A;
  }

  50% {
    color: rgb(243, 21, 21);
  }

  100% {
    color: #F8CD0A;
  }
}

@keyframes flashing-letters {
  0% {
    color: #F8CD0A;
  }

  50% {
    color: rgb(243, 21, 21);
  }

  100% {
    color: #F8CD0A;
  }
}