/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;

  &.header-scrolled {
    opacity: 0.9;
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.2);

    &.fixed-top {
      position: relative;
    }
  }

  & .logo {
    line-height: 0.8;
    text-decoration: none;

    &:hover {
      color: var(--primary-color);
    }

    & img {
      max-height: 50px;
      margin-right: 6px;

      @media (min-width: 740px) and (max-width: 1023px) {
        max-height: 55px;
        margin-right: 0px;
      }
    }

    & span {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1px;
      color: var(--primary-color);
      font-family: "Nunito", sans-serif;
      margin-top: 3px;

      @media (max-width: 739px) {
        font-size: 22px;
        margin-top: 10px;
      }

      @media (min-width: 740px) and (max-width: 1023px) {
        font-size: 28px;
        margin-top: 10px;
      }
    }
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;

  & ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;

    @media (max-width: 1023px) {
      display: none;
    }

    @media (min-width: 739px) and (max-width:1023px) {
      display: none;
    }
  }

  & li {
    position: relative;

    &:hover>a {
      color: #fff;
      background: var(--primary-color);
    }
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;
    // padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 2px;

    &:hover {
      color: #fff;
      background: var(--primary-color);
    }

    & i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
  }

  & .getLogin {
    background: var(--primary-color);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;

    &:hover {
      opacity: 0.8;
    }
  }

  & .active {
    color: #fff;
    background: var(--primary-color);
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--primary-color);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;

  @media (min-width: 740px) and (max-width: 1023px) {
    display: block;
  }

  @media (max-width:739px) {
    display: block;
  }
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;

  & .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  & ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  & a {
    padding: 10px 20px;
    font-size: 20px;
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
      color: #fff;
      background: var(--primary-color);
    }
  }

  & .active {
    color: var(--primary-color);
  }

  & li:hover>a {
    color: #fff;
  }

  & .getLogin {
    margin: 15px;
  }
}