.product {

  & .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

    & .sidebar-title {
      font-size: 20px;
      font-weight: 700;
      padding: 0 0 0 0;
      margin: 0 0 15px 0;
      color: var(--primary-color);
      position: relative;
    }

    & .sidebar-item {
      margin-bottom: 30px;
    }

    & .search-form form {
      background: #fff;
      border: 1px solid #ddd;
      padding: 3px 10px;
      position: relative;

      & input[type="text"] {
        border: 0;
        padding: 4px;
        border-radius: 4px;
        width: calc(100% - 40px);
      }

      & button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border: 0;
        font-size: 16px;
        padding: 0 15px;
        margin: -1px;
        background: var(--primary-color);
        color: #fff;
        transition: 0.3s;
        border-radius: 0 4px 4px 0;
        line-height: 0;

        & i {
          line-height: 0;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    & .categories ul {
      list-style: none;
      padding: 0;

      & li+li {
        padding-top: 10px;
      }

      & a {
        color: var(--primary-color);
        transition: 0.3s;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        & span {
          padding-left: 5px;
          color: #aaaaaa;
          font-size: 14px;
        }
      }
    }

    & .recent-posts {
      & .post-item+.post-item {
        margin-top: 15px;
      }

      & img {
        width: 80px;
        float: left;
      }

      & h4 {
        font-size: 15px;
        margin-left: 95px;
        font-weight: bold;

        & a {
          color: var(--primary-color);
          transition: 0.3s;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      & time {
        display: block;
        margin-left: 95px;
        font-style: italic;
        font-size: 14px;
        color: #aaaaaa;
      }

      & .subText {
        display: block;
        margin-left: 95px;
        font-style: italic;
        font-size: 14px;
        color: #aaaaaa;

      }
    }

    & .tags {
      margin-bottom: -10px;

      & ul {
        list-style: none;
        padding: 0;

        & li {
          display: inline-block;
        }

        & a {
          color: var(--primary-color);
          font-size: 14px;
          padding: 6px 14px;
          margin: 0 6px 8px 0;
          border: 2px solid #d7e6ff;
          display: inline-block;
          transition: 0.3s;
          text-decoration: none;

          &:hover {
            color: #fff;
            border: 2px solid var(--primary-color);
            background: var(--primary-color);
          }

          & span {
            padding-left: 5px;
            color: #a5c5fe;
            font-size: 14px;
          }
        }
      }
    }
  }
}